* {
  padding: 0;
  margin: 0;
}
body {
  background-color: gray;
  padding: 0px;
  margin: 0px;
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
.links {
  display: flex;
  gap: 2rem;
  font-family: "Courier New", Courier, monospace;
}

.logo a {
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
}
.links a {
  color: white;
}
.links a:hover {
  font-weight: bolder;
  font-size: 1.15rem;
}
.navbar-content {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #111;
    position: relative;

}

.toggle-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

.toggle-button span {
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 5px;
}



#Home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/images/camera.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 70vh; /*volume height*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  font-family: "Courier New", Courier, monospace;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.home-content button {
  text-transform: uppercase;
  background: transparent;
  padding: 10px 20px;
  letter-spacing: 2.5;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  border: 2px solid white;
}

#Aesthetics{
  /* width: 100%; */
 padding: 2rem 1.2rem;
 display: flex;
 align-items: center;
 align-content: center;
 
}
.aesthetics-container {
  display: flex;
  /* flex: 1;  */
  color: white; 
  align-items: center;
  align-content:center;
  max-width: 1200px;
    margin: 0 auto;

  /* border:1px solid red; */
}
.aesthetics-content-1 {
  /* flex: 1; */
  width: 100%;
}
.aesthetics-content-1 img {
  width: 500px;
  /* width: 100%; */
}
.aesthetics-content-2 {
  /* flex:1; */
  width: 100%;
  font-family: "Petit Formal Script", serif;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: normal;
  padding: 2rem;
  
}

.aesthetics-content-2 .author {
  font-weight: bold;
  font-family: sans-serif;
  text-align: left;
}

/* ---------- Services Section ---------- */
#Services {
  background-color: white;
  padding: 2rem 0px;
}

#Services .topic {
  text-transform: uppercase;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 2rem;
  padding: 10px 20px;
  letter-spacing: 2.5;
  font-weight: 800;
  font-size: 2rem;
  color: gray;
}

.services-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}
.services-container .box {
  border: 1px solid black;
  width: 350px;
  height: 300px;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  align-content: center;
  margin-bottom: 1.5rem;
}

.forBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.box .boxHead {
  width: 100%;
  background-color: black;
  padding: 10px 0px;
  color: white;
  font-style: bolder;
  font-size: 1.5rem;
  letter-spacing: 4px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.box .boxDes {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.8rem;
}

.boxIcon {
  background-color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border: 2px solid black;
  border-radius: 100%;
}

.boxIcon img {
  height: 50px;
  width: 50px;
}

/* #Box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 300px;
} */

/* -----===== Footer section styles =====----- */

#footer {
  display: flex;
  justify-content: space-evenly;
  font-family: "Courier New", Courier, monospace;
  flex-wrap: wrap;
  padding: 4rem 1rem;
  gap: 2rem;
  color: white;
  background-color: #111;
}

.footer-logo{
  font-family: sans-serif;
  font-weight: 800;
  letter-spacing: 2.5;
  font-size: 1.2rem;
}
 .navigation{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* padding: 4rem 1rem; */
  gap: 4rem;
  /* justify-content: space-evenly; */
}

#footer-link {
  text-align: center;
}

.footer-title{
  font-weight: bold;
  font-size: 1.2rem;
  font-family: sans-serif;
  letter-spacing: 1.5;
  font-style: italic;
}

#footer-link li {
  margin: 16px;
}
#footer-link li a{
  color: white;
}
#footer-link li a:hover{
  font-size: large;
  font-weight: bold;
}

#las-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 16px 3rem;
  color: white;
  background-color: black;
  gap:1rem;
  /* align-content: center; */
}
.las-icon{
  display: flex;
  justify-content: space-evenly;
    gap: 1.5rem;

}
.las-icon span img{
  width: 20px;
  /* height: 25px; */
}
.las-icon span a:hover{
  /* width: 20px; */
  color: gray;
  /* height: 25px; */
}



/* Media query */
/* @media(max-width: 840px ){
.aesthetics-container {
  display: grid;
  padding: 2rem 1rem;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
}
.aesthetics-content-1 img{
  width: 350px;
}
} */
 @media (max-width: 768px) {
  .toggle-button {
    display: flex;
  }

  .links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #111;
    padding: 20px;
  }

  .links.active {
    display: flex;
  }

  .links li {
    margin: 15px 0;
  }

  .aesthetics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
  width: 100%;
}
.aesthetics-content-1 img{
  /* width: 350px; */
  width: 100%;
}
.box .boxDes {
  font-size: 1.2rem;
}

}



@media(max-width: 640px ){
.aesthetics-container {
  flex-wrap: wrap;
}
.aesthetics-content-1 img{
  width: 100%;
}
.aesthetics-content-2 {
  /* flex:1; */
  font-size: 1rem;  
  line-height: 1.5rem;
}

.services-container .box {
  width: 300px;
  height: 200px;
  text-align: center;
  align-content: center;
}
}